@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bxsliderjs")
    @Styles.Render("~/Content/bxslidercss")

</head>
    <body>
        <div id="nav-main" style="zoom: 1.1125;">
            <div id="search">
                <div id="searchout">
                    <div id="search_type">
                        <div class="search_top_type" type="web">方剂</div>
                        <div class="search_top_type" type="news">中药</div>
                        <div class="search_top_type" type="image">穴位</div>
                    </div>

                    <div id="searchform">
                        <div id="search_option">@Html.ActionLink("添加", "Add", "Prescription") </div>
                        <input type="text" id="search_input" name="search">
                        <div id="searchbutton"></div>
                    </div>
                    <div id="search_sg">
                        <div id="site_sg">
                        </div>
                        <div id="sousuo_sg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
            <ul class="bxslider">
                <li>
                    <ul>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/renren.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/zhifubao.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/sina.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/appstore.com.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/douban.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/bdlogo.gif" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/yahoo.com.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/dangdang.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/youtube.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/twitter.com.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/aiqiyi.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/appstore.com.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/amazon.com.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/youtube.com.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/bdlogo.gif" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                        <li>
                            <div class="case_w">
                                <img src="~/Images/google.com.png" />
                                <div class="fire"></div>
                                <a href="#" class="x"></a>
                                <a href="#" class="y"></a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div id="slider-prev" class="switch_button">
            </div>
            <div id="slider-next" class="switch_button">
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $(".bxslider li ul li").hover(function () {
                    $(".x", this).stop().css({ 'left': '35px' }).animate({ 'left': "40px" }, 400).show();
                    $(".y", this).stop().css({ 'right': '35px' }).animate({ 'right': "40px" }, 400).show();
                    $('.fire', this).fadeIn(500);
                }, function () {
                    // $('.x, .y',this).stop().animate({"top":"30px"},400);
                    $('.fire, .x, .y', this).fadeOut(500);
                });
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.bxslider').bxSlider({
                    minSlides: 4,
                    maxSlides: 4,
                    nextSelector: '#slider-next',
                    prevSelector: '#slider-prev',
                    slideWidth: 240,
                    slideMargin: 0,
                    auto: false
                });
            });
        </script>



    </body>
</html>
