<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - CLZDoctor管理系统</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/bootstrap/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui/js")
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>

</html>
